.prodST{
    background-color: aliceblue;
    border: 3px solid #C46210;
    width:18%;
    height:180px;
    margin:25px;
    cursor: pointer;
    flex-basis: 20%;
}

.modalBG{
    position: absolute;
    top: 100px;
    right: 430px;
    width: 30%;
    height: 60%;
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items:center;
    align-self: center;
    border: 2px groove black;
    background-color: #C46210;
}

.priceinfo{
    background-color: #C46210;
    color:whitesmoke;
    width:100%;
    height:fit-content;
    display:flex;
    justify-content:center;
    position:relative;
    bottom:-30px;
}

.imageInfo{
    border:2px solid red;
}

.nameinfo{
    background-color: #C46210;
    border-top:1px solid whitesmoke;
    color:whitesmoke;
    width:100%;
    height:fit-content;
    display:flex;
    justify-content:center;
    position:relative;
    bottom:-60px;
}

.descriptionInfo{
    color:whitesmoke;
    border-top:1px solid whitesmoke;
    width:100%;
    padding-top: 10px;
}

.clickDiv{
    width:100%;
    height:100%;
    /* border: 3px solid #84DE02; */
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.closeButton{
    cursor:pointer;
    width:40px;
    height:30px;
    position:absolute;
    right:0%;
    top:0%;
    border: 1px solid #797979;
    border-radius: 0px 0px 0px 40px;
}